*{
    margin: 0;
    padding: 0;
}

$main-color: #265AA2;
$background-color: #FFF0E9;

@font-face {
    font-family: Viaoda;
    src: url(../fonts/ViaodaLibre-Regular.ttf);
}

// @mixin main-text-prata{
//     font-family: Viaoda;
//     font-size: 1.5em;
//     color: $main-color;
// }

@mixin heding-text-Viaoda{
    font-family: Viaoda;
    font-size: 5em;
    color: $main-color;
    text-align: center;
}

a{
    text-decoration: none;
    color: $background-color;
}

.container{
    background-color: $background-color;
    // margin: 0 auto;
}

header{
    display: flex;
    background-color: $background-color;
    height: 110px;
    justify-content: space-between;
    padding: 0 50px 0 50px;
    align-items: center;
}

.nav{
    display: flex;
    gap: 78px;
    align-items: center;
}

.nav a{
    font-family: Viaoda;
    color: $main-color;
    font-size: 24px;
}

.nav a:hover{
    border-bottom: #2157A3 2px solid;
}

.contacts{
    display: flex;
    gap: 37px;

}

.contacts button{
    height: 56px;
    background-color: $background-color;
    border: $main-color 3px solid;
    color: $main-color;
    padding: 11px 40px;
    font-family: Viaoda;
    font-size: 24px;
    cursor: pointer;
}

.contacts img{
    height: 56px;
    width: 53px;
}

.site-main{
    height: 1166px;
    background: linear-gradient(198.47deg, #2157A3 19.22%, #426DAA 39.71%, #6A8AB6 70.55%, #F7ECDF 92.68%);
    display: flex;
    justify-content: space-between;
    gap: 129px;
}

.main-foto {
    // display: flex;
    // align-items: center;
}

.main-foto img {
    height: 100%;
    width: auto;
}

.site-main-text{
    align-content: center;
    font-family: Viaoda;
    min-width: 487px;
    margin-left: 110px;
    text-align: center;
}

.footnote{
    display: flex;
    gap: 21px;
    margin-bottom: 27px;
}

.footnote img{
    height: 99px;
    max-width: 55px;
}

.footnote p{
    color: $background-color;
    font-size: 15px;
    margin-top: 18px;
    text-align: start;
}

.site-main-text img{
    width: 70%;
}

.site-main-text-p{
    text-align: start;
    color: $background-color;
    margin-top: 90px;
    font-size: 22px;
}

.site-main-text-actions{
    display: flex;
    gap: 42px;
    margin-top: 32px;

}

#site-main-text-actions-reserve{
    font-family: Viaoda;
    font-size: 24px;
    color: $main-color;
    background-color: $background-color;
    cursor: pointer;
    padding: 15px 20px;
    border: none;
}

#site-main-text-actions-call{
    @extend #site-main-text-actions-reserve;
    background: transparent;
    border: #fff 3px solid;
    padding: 15px 25px;
}


.about-us{
    padding: 220px 0;
    text-align: center;
    background: $background-color;
}

.about-title p{
    @include heding-text-Viaoda;
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
}

.about-title p::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 40%;
    width: 100%;
    height: 3px;
    background-color: #2a5a9e;
}

.about-us-items{
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: 182px;

}

.about-us-items p{
    max-width: 650px;
    font-family: Viaoda;
    font-size: 24px;
    color: $main-color;
    align-content: center;
    text-align: start;
}

.image-border{
    width: 677px;
    height: 356px;
    position: absolute;
    z-index: 0;
    border: $main-color 2px solid;
}

.about-us-items img{
    height: 356px;
    width: 677px;
    position: relative;
    top: 42px;
    left: 55px;
    z-index: 1;
}

.about-us button{
    background-color: $main-color;
    color: $background-color;
    text-align: center;
    margin-top: 124px;
    padding: 20px 121px;
    @extend #site-main-text-actions-reserve;

}

.menu{
    background-color: $main-color;
    padding: 56px 0;
    text-align: center;
}

.menu-title{
    @include heding-text-Viaoda;
    color: $background-color;
}

// .menu img{
//     text-align: center;
// }

.menu-nav{
    display: flex;
    justify-content: center;
    gap: 204px;
    margin: 54px auto 132px auto;
    font-family: Viaoda;
    font-size: 40px;
    color: $background-color;
    cursor: pointer;
}

.menu-nav-p{
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
}

.menu-nav-p::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 40%;
    width: 0;
    height: 3px;
    background-color: $background-color;
    transition: width 0.4s ease;
}

.menu-nav-p:hover::after{
    width: 70%;
}

.menu-images {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    min-height: 400px; // Чтобы блок не "прыгал" при смене картинок
}

.menu-image {
    display: none; // Скрываем все картинки по умолчанию
    animation: fadeIn 0.5s ease-in-out;
}

.menu-image.active {
    display: flex;
    justify-content: center;
    gap: 53px;
}

.menu-image-case{
    width: 330px;
    max-height: 300px;
}

.menu-image-case p{
    font-family: Viaoda;
    font-size: 24px;
    color: $background-color;
    text-align: left;
    
}

.menu-image img {
    max-width: 900px;
    width: 100%;
    height: auto;
    border-radius: 48px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    margin-bottom: 33px;

}

.menu-nav-p.active::after {
    width: 70%;
}

.menu button{
    @extend #site-main-text-actions-reserve;
}

.pattern{
    text-align: center;
    padding-top: 59px;
    background: $background-color
}

.hall{
    padding: 100px 100px 282px 100px;
    text-align: center;
    background: $background-color
}

.hall-title{
    @include heding-text-Viaoda;
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 139px;
}

.hall-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 40%;
    width: 80%;
    height: 3px;
    background-color: #2a5a9e;
}


.first-hall{
    display: flex;
    justify-content: center;
    gap: 92px;
}

.second-hall{
    @extend .first-hall;
    margin-top: 83px;
}

.first-hall{
    align-items: center;
    text-align: left;
    color: $main-color;
}

.first-hall p{
    font-family: Viaoda;
}

.hall-text-num{
    font-size: 64px;
}

.hall-text-title{
    font-size: 40px;
    padding: 10px 0 40px 0;
}

.hall-text-description{
    font-size: 32px;
}

.feedback{
    background: $background-color;
    text-align: center;
}

.feedback-title{
    @extend .hall-title;
}

.reviews-block-base{
    padding: 150px 100px 68px 100px;
    display: flex;
    justify-content: center;
    gap: 100px;
    font-family: Viaoda;
    color: $main-color;
    text-align: left;
}

.reviews {
    position: relative;
}

.reviews:not(:last-child)::after {
    content: '';
    position: absolute;
    right: -50px;
    top: 10%;
    height: 312px;
    width: 2px;
    background-color: $main-color;
}

.subtitle{
    font-size: 20px;
}

.reviews-text{
    padding-top: 47px;
    padding-bottom: 75px;
    font-size: 24px;
}